.section {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  border-radius: 15px;
  border: 1px solid #545f71;
  padding: 3%;
  margin-right: 27%;
  margin-left: 27%;
}

.montant,
.montant1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2%;
}

.montant1 {
  color: #9f62fe;
}

.form {
  margin-bottom: 2%;
  margin-bottom: 2%;
  padding: 1.5%;
  border-radius: 5px;
  border: none;
  background: black;
  border: 1px solid;
  font-size: 20px;
}

.infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000000;
  margin-bottom: 5%;
}

.infos span {
  color: #9f62fe;
}

.adresse {
  margin-bottom: 2%;
  color: #9f62fe;
}

.sub {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 2%;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  background: #9f62fe;
}
